[submodule "thirdparty/chrono"]
	path = thirdparty/chrono
	url = https://github.com/projectchrono/chrono
[submodule "thirdparty/eigen"]
	path = thirdparty/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "thirdparty/irrlicht"]
	path = thirdparty/irrlicht
	url = https://github.com/zaki/irrlicht
